.title-text{
	font-size: 200px; 
	color: whitesmoke;
}
body {
	background-color: royalblue;
}

.title-box{
	border-style: solid;
	border-color: mintcream;
	text-align: center;
	background-color: #0d0d26;
	color: whitesmoke;
	padding: 40px;
	border-radius: 10px;
	margin-top: 75px;
    margin-left:450px;
	width:450px;

}

.top-banner{
	border-style: solid;
	border-color: #0d0d26;
	text-align: center;
	background-color: #0d0d26;
	color: whitesmoke;
	padding:20px;
    font-size: 25px;
	border-radius: 0px;
	margin-top: -10px;
    margin-left:-10px;
	width:1400px;

}

.paragraph1{
	padding: 20px;
	margin-top: 50px;
	text-align: center;
	border-radius: 10px;
	border-style: solid;
	border-color: mintcream;
	background-color: #0d0d26;
	color: mintcream;
	margin-top: 75px;
    margin-left: 200px;
	width: 1000px;
	
}

.paragraph2{
	border-style: solid;
	border-color: mintcream;
	text-align: center;
	background-color: #0d0d26;
	color: mintcream;
	padding: 20px;
	border-radius: 10px;
	margin-top: 75px;
    margin-left: 200px;
	width: 1000px;
	
	}

.fakebutton{
	margin-left: 675px;
	margin-top: 50px;
	width: 500px;
	height: 100px;
    
}





