.title-text{
	font-size: 200px; 
	color: whitesmoke;
}
body {
	background-color: royalblue;
}

.title-box{
	border-style: solid;
	border-color: whitesmoke;
	text-align: center;
	background-color: royalblue;
	color: whitesmoke;
	padding: 40px;
	border-radius: 10px;
	margin-top: 100px;
    margin-left:500px;
	width:450px;

}

.paragraph1{
	padding: 20px;
	margin-top: 50px;
	text-align: center;
	border-radius: 10px;
	border-style: solid;
	border-color: whitesmoke;
	background-color: royalblue;
	color: whitesmoke;
	margin: 10px;
	width: 1000px;
	
}

.paragraph2{
	border-style: solid;
	border-color: white;
	text-align: center;
	background-color: royalblue;
	color: lightskyblue;
	padding: 20px;
	border-radius: 10px;
	margin: 10px;
	width: 1000px;
	
	}